{% extends "app/layout.html" %}


{% block content %}

    <div class = "container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center my-4">Welcome to FoundIt@MU</h1>
                <p class="text-center">A platform to help you find lost items or report found items at the University of Mauritius.</p>
                <div class="text-center my-4">
                    <a href="{% url 'itemList' %}" class="btn btn-primary mx-2">Items</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}