{% extends "app/layout.html" %}


{% block content %}

    <div>
        <h1 class="text-center my-4">Found Items here</h1>
        <p class="text-center">Here you can find items that have been reported found or lost.</p>
    </div>

    {% if user.is_valid %}
        <a href="" class="btn btn-primary mb-4">Create Post</a>
            {% for item in items %}
                <div class="card mb-4" style="width: 18rem;">
                    {% if item.image %}
                        <img src="{{item.image.url}}" class="card-img-top" alt="...">
                    {% endif %}
                    <!--need to update-->
                    username: {{item.publisherInfo.username}} <br>
                    Name: {{item.publisherInfo.name}} <br>
                    ID: {{item.publisherInfo.mu_id}} <br>
                    Lost or Found at: {{item.location}} 
                        <div class="card-body">
                            <h5 class="card-title">Title: {{item.title}}</h5>
                            <p class="card-text">{{item.description}}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                </div>
            {% endfor %}
        {% else %}
            <a href="{% url 'verify_user' %}" class="btn btn-primary"> Verify Yourself as a Student of out University.</a>
    {% endif %}

{% endblock %}