{% extends "app/layout.html" %}


{% block content %}


    <div>
        <h1 class="text-center my-4">Find your Items here</h1>
        <p class="text-center">Here you can find items that have been reported found or lost.</p>
    </div>

    {% comment %} {% if user.is_valid %} {% endcomment %}
        <h3>Quick Search</h3>

        <h3>Founded Items List:</h3>
<select class="form-select mb-3" onchange="if(this.value) window.location.href=this.value;">
    <option value="">Select a found item...</option>
    {% for item in found_items %}
        <option value="{% url 'found_items_view' %}?item_id={{ item.id }}">{{ item.title }}</option>
    {% empty %}
        <option disabled>No found items reported yet.</option>
    {% endfor %}
</select>

<h3>Lost Items List:</h3>
<select class="form-select mb-3" onchange="if(this.value) window.location.href=this.value;">
    <option value="">Select a lost item...</option>
    {% for item in lost_items %}
        <option value="{% url 'lost_items_view' %}?item_id={{ item.id }}">{{ item.title }}</option>
    {% empty %}
        <option disabled>No lost items reported yet.</option>
    {% endfor %}
</select>


        <!--<a href="{% url 'create_post' %}" class="btn btn-primary mb-4">Create Post</a>-->

        <div class="container d-flex flex-column justify-content-center gap-3 my-4 mt-5">

            <a href="{% url 'create_post' %}" class="btn btn-primary mb-4">Create Post</a>

            <a href="{% url 'found_items_view' %}" class="btn btn-primary mb-4">Found Items</a>
            
            <a href="{% url 'lost_items_view' %}" class="btn btn-primary">Lost Items</a>

            
        </div>



    {% comment %} {% else %}
        <a href="{% url 'verify_user' %}" class="btn btn-primary">Verify Yourself as a Student of our University</a>
    {% endif %} {% endcomment %}


{% endblock %}